@import "tailwindcss";
@import "@fontsource/inter/400.css";
@import "@fontsource/inter/700.css";

@theme {
	--font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

body {
	overflow-y: scroll;
}

/* .custom-select .ant-select-selector {
	border-radius: 16px;
} */

/* .custom-picker {
	border-radius: 16px;
} */

.input-field {
	@apply w-full h-[40px] mt-2 rounded-[8px] px-3 border border-gray-300 outline-none focus:border-[#1676fb] focus:border-2 placeholder:text-[#bfbfbf];
}

.textarea-field {
	@apply w-full mt-2 rounded-[8px] px-3 py-2 border border-gray-300 outline-none focus:border-[#1676fb] focus:border-2 resize-none placeholder:text-[#bfbfbf];
}

/* Dialog animations */
@keyframes overlayShow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: translate(-50%, -48%) scale(0.96);
	}
	to {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}
}

.animate-overlayShow {
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.animate-contentShow {
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

/* Custom Select Gray Background */
.custom-select-gray .ant-select-selector {
	background-color: #f5f5f5 !important; /* gray-500 */
	border-color: #000000 !important;
	border-radius: 10px !important;
	box-shadow: none !important;
	width: 140px !important;
}

.custom-select-gray .ant-select-selection-placeholder {
	color: #000000 !important; /* white text for contrast */
}

.custom-select-gray .ant-select-selection-item {
	color: #000000 !important; /* white text for selected item */
}

.custom-select-gray .ant-select-arrow {
	color: #000000 !important; /* white arrow */
}